{
    "presets": ["next/babel"],
    "plugins": [
      [
          "module-resolver",
          {
              "root": ["."],
              "alias": {
                  "@components": "./components",  // to all defined components
                  "@api": "./lib/api",  //  to all api functions
              }
          }
      ]
    ]
  }