/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Gotham-Black";
  src: url("../public/fonts/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../public/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../public/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../public/fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../public/fonts/Gotham-Medium.otf");
}

/* @layer base {
  html {
    font-family: 'gotham-medium', 'gotham-light', 'gotham-bold', 'gotham-black', 'gotham-book', system-ui, sans-serif;
  }
} */